@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";
#root {
  font-family: 'Outfit', sans-serif;
  margin: 0;
}
